
/* デスクトップデバイス向けのスタイル */
@media screen and (min-width: 1024px) {
  body {
    font-size: 16px; /* デスクトップ向けのフォントサイズ */
  }
}

/* タブレットデバイス向けのスタイル */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 14px; /* タブレット向けのフォントサイズ */
  }
}

/* スマートフォン向けのスタイル */
@media screen and (max-width: 767px) {
  body {
    font-size: 12px; /* スマートフォン向けのフォントサイズ */
  }
}



body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

h2.form-header {
  text-align: center;
  color: #333;
}

div {
  margin-bottom: 15px;
}

label.form-label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
}

textarea {
  height: 100px;
}

button.form-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button.form-button:hover {
  background-color: #45a049;
}
